In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [7]:
# set view options for pandas DataFrame to null


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
product_df = pd.read_csv("product_catalog.csv")
orders_df = pd.read_csv("user_order_history.csv")

In [3]:
product_df.head()

,product_id,name,product_added_date,brand,current_vendor,category_name_1,request_path_1,category_name_2,request_path_2,category_name_3,...,distinct_users_parent_carted_60,distinct_users_parent_carted_90,demand_30_days,demand_90_days,catalog_demand_30_days_rank,catalog_demand_90_days_rank,revenue_30_days,revenue_90_days,catalog_revenue_30_days_rank,catalog_revenue_90_days_rank
0,417366,Adesso - Orbit 1120 Dash Cam,2024-09-04,Adesso,D&H,Auto,auto,Audio/Video,auto/audio,Dash Cams,...,28,47,425.97,2805.77,NaN,NaN,118.99,475.96,NaN,NaN
1,306271,PetSafe - Rechargeable Fence System 14 gauge W...,2019-04-12,PetSafe,UTM Distributing,Home,home,Pet,home/pet,Pet Essentials,...,0,0,0.00,0.00,NaN,NaN,0.00,0.00,NaN,NaN
2,409248,Bloem - Mathers Round Planter with Saucer Tray...,2024-06-19,Bloem,Flat River,Outdoor Living & Garden,outdoorliving-garden,Lawn & Garden,outdoorliving-garden/lawn-garden,Pots & Planters,...,0,0,0.00,101.97,12403.0,13275.0,0.00,67.98,8025.0,9943.0
3,334555,Yokohama - Geolandar M/T G003 - LT255/75R17,2020-10-19,Yokohama,Simple Tire,Auto,auto,Tires,auto/tires,Light Truck/SUV,...,0,0,0.00,0.00,NaN,NaN,0.00,0.00,NaN,NaN
4,339738,ScooterX - Dirt Dog 49cc Scooter - Red,2021-03-09,ScooterX,Big Toys USA,Baby & Kids,baby-kids,Recreation,baby-kids/recreation,Bikes & Scooters,...,0,0,0.00,0.00,NaN,NaN,0.00,0.00,NaN,NaN

In [4]:
orders_df.head()

,user_id,order_id,order_carted_date,order_checkout_date,order_denied_date,order_approved_date,order_in_repayment_date,order_refunded_date,order_canceled_date,order_complete_date,product_id
0,6456,9187009,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,392644
1,25844,9187819,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,441726
2,25844,9187819,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,441731
3,25844,9187819,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,441732
4,38948,9183274,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,432913

In [5]:
orders_df.loc[(orders_df["user_id"] == 25844)]

,user_id,order_id,order_carted_date,order_checkout_date,order_denied_date,order_approved_date,order_in_repayment_date,order_refunded_date,order_canceled_date,order_complete_date,product_id
1,25844,9187819,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,441726
2,25844,9187819,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,441731
3,25844,9187819,2025-06-30,2025-06-30,NaN,2025-06-30,2025-06-30,NaN,NaN,NaN,441732
1191627,25844,8468106,2025-02-11,2025-02-11,NaN,2025-02-11,2025-02-11,NaN,NaN,NaN,427090
1191628,25844,8468106,2025-02-11,2025-02-11,NaN,2025-02-11,2025-02-11,NaN,NaN,NaN,427092
1191629,25844,8468106,2025-02-11,2025-02-11,NaN,2025-02-11,2025-02-11,NaN,NaN,NaN,427107
1191630,25844,8468106,2025-02-11,2025-02-11,NaN,2025-02-11,2025-02-11,NaN,NaN,NaN,427117
1435137,25844,8320259,2025-01-13,2025-01-13,NaN,2025-01-13,2025-01-13,NaN,NaN,NaN,372638
1435138,25844,8320259,2025-01-13,2025-01-13,NaN,2025-01-13,2025-01-13,NaN,NaN,NaN,425969

In [8]:
product_df.loc[(product_df["product_id"] == 441726)]

,product_id,name,product_added_date,brand,current_vendor,category_name_1,request_path_1,category_name_2,request_path_2,category_name_3,request_path_3,category_name_4,request_path_4,product_url,parent_product_id,current_price,current_cost,current_margin,current_ship_price,msrp,comparable_price,current_inventory,current_status,distinct_users_viewed_30,distinct_users_viewed_60,distinct_users_viewed_90,distinct_users_parent_carted_30,distinct_users_parent_carted_60,distinct_users_parent_carted_90,demand_30_days,demand_90_days,catalog_demand_30_days_rank,catalog_demand_90_days_rank,revenue_30_days,revenue_90_days,catalog_revenue_30_days_rank,catalog_revenue_90_days_rank
148023,441726,"Living Proof - Perfect Hair Day Conditioner, 24 oz.",2025-06-24,LIVING PROOF,IGL Brands,Beauty,beauty,Hair Care,beauty/haircare,Hair Products,beauty/haircare/hairproducts,NaN,NaN,https://app.perpay.com/shop/product/441726,NaN,79.99,39.91,40.08,17.99,67.0,67.0,0,Disabled,24,47,47,7,14,14,79.99,159.98,NaN,NaN,0.0,79.99,NaN,NaN